.menu{
	 margin-bottom: 0;
      border-radius: 0;
      border: 1px solid #CDC9C9;
      background-color: #FFF;
      border-bottom: 40px solid #0000ff;
      border-radius: 3px;
      height: 170px;
      font-family: 'Source Sans Pro', sans-serif;
}
.logo{
	margin-top: 10px;
	margin-left: 10px;	
	width: 30%;
	height: 100%;
}
.sobre{
	margin-top: -190px;
	margin-left: 500px;
	width: 30%;
	height: 100%;
}
input{
	border:1px solid #cdc9c9;
	border-radius:3px;
	height: 30px;
	width: 210px;
}
button{
	border:1px solid;
	border-radius:3px;
	background-color: #000;
	color: #fff;
	height: 30px;
	width: 170px;
	font-family: 'Roboto Condensed', sans-serif;
}
.rodape{
	margin-top: -190px;
	float: right; 
	width: 40%;
	height: 100%;
	font-size: 13px;
}
.rodape1{
	width: 30%;
	margin-top: 25px;
}
.rodape2{
	width: 30%;
	margin-top: -85px;
	margin-left: 150px;
}
.rodape3{
	width: 30%;
	margin-top: -115px;
	margin-left: 280px;
}
.rodape4{
	margin-top: -20px; 
	margin-left: 20px;	
}
.icones{
	float: right;
	margin-top: -40px;
	margin-right: 80px;
	word-spacing: 10px;
}
i{
	font-size: 25px;
}
a:link{
	text-decoration:none;
	color:#a9a9a9;
}
a:visited {
	text-decoration:none;
	color:#a9a9a9;
}
a:active { 
	color: #a9a9a9; 
	text-decoration: none; 
}
a:hover {
	color: #a9a9a9;
	text-decoration:none;
}